.formBox {
  min-width: 20%;
  /* width: 15vw; */
  /* height: 15vh; */
  /* border: dotted #f55a00 5vw; */
  border: 1px solid black;
  /* margin: auto; */
  padding: 3vw;
  position: relative;
  border-radius: 5px;
  /* position:relative for .prevBtn and .nextBtn position:absolute; */

  -webkit-box-shadow: 0 10px 6px -6px #777;
     -moz-box-shadow: 0 10px 6px -6px #777;
          box-shadow: 0 10px 6px -6px #777;
}

.formBox p {
  font-size: 20px;
  /* text-align: center; */
  color: black;
  margin: 0 0 0.5vh 0;
  font-style: italic;;
  font-weight: bold;;
}

.formBox input {
  display: block;
  width: 90%;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  margin: 0.9vw 0;
  border: 3px solid black;
  border-radius: 5px;
  font-size: 20px;
}

.formBox button {
  display: inline-block;
  width: 30%;
  height: 2rem;
  /* color: red; */
  /* border: 0; */
  bottom: 0;
  cursor: pointer;
  font-size: 1rem;
}

/* h1, */
/* h2 { */
/*   text-align: center; */
/* } */

/* p, input { */
/*   display: block; */
/*   margin: 1rem auto; */
/*   text-align: center; */
/* } */

